<span>Извините, Вы ввели неправильный логин или пароль или же у Вас нет прав администратора.</span>
<br>
<br>
<label>Вернуться на страницу входа в администраторскую учетную запись: </label>
<button type="text"><a href="/auth">Назад</a></button>
<br>
<br>
<label>Вернуться на главную страницу: </label>
<button type="text"><a href="/">Назад</a></button>
