<form>
  <h4>Добавить Категорию</h4>
  <label>Имя</label><br>
  <input name="itemName" type="text" required><br>
  <label>Описание</label><br>
  <input name="itemDescription" type="text"><br>
  <input name="btn" type="submit" value="Submit"><br>
</form>
