<form>
  <h4>Добавить Товар</h4>
  <label>Категория</label><br>
  <input name="category" type="text" required><br>
  <label>Наименование</label><br>
  <input name="itemName" type="text" required><br>
  <label>Описание</label><br>
  <input name="itemDescription" type="text"><br>
  <label>Цена</label><br>
  <input name="price" type="text"><br>
  <input name="btn" type="submit" value="Submit"><br>
</form>
