<a href="/admin/logout">Log out</a>
<button id="addCategory">Add Category</button><br><br>
<div id="categoryLocator"></div><br>

<button id="addItem">Add Item</button><br><br>

<div id="itemLocator"></div>
