
{{#if isAuth}}
<h2>Вы хотите изменить логин или пароль для входа в администраторскую учетную запись?</h2>
<button id="yes" type="submit">Да</button>
<a href="/admin"><button type="submit">Нет, перейти в администраторскую учетную запись</button></a>
<br>
<div id="change-container">
</div>
{{/if}}

