<form>
  <ul>
    {{#each items}}
    <li>
      <div><img src="/img/dc1.jpg" alt="{{description}}">
        <p>{{name}}</p>
        <br>
        <p>{{description}}</p>
        <br>
        <p>{{price}}</p>
      </div>
    </li>
    {{/each}}
  </ul>
  </div>
</form>
